body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.parent {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

h1,
h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

select,
input[type="submit"],
input[type="text"] {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #f0f0f0;
  color: #007bff;
  cursor: pointer;
  margin-left: 10px;
  width: 50%;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 10px auto;
}

input[type="submit"] {
  background-color: #28a745;
  margin-top: 20px;
  color: #fff;
}

input[type="submit"]:hover {
  background-color: #218838;
}

a {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
}

a:hover {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
}

@media (max-width: 768px) {
  .parent {
    width: 90%;
  }
}
