body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  text-align: center;
  padding: 20px 0;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #007bff;
  color: #fff;
}

td {
  background-color: #fff;
  color: #333;
}

a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  color: #007bff;
  padding: 10px 20px;
  border: 1px solid #007bff;
  border-radius: 4px;
}

a:hover {
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
}

.no-missions {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.parent {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }
}
