<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Eye App</title>
    <link rel="stylesheet" th:href="@{createStyle.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="parent">
      <form
        method="post"
        action="#"
        th:action="@{/createNewMission}"
        th:object="${mission}"
      >
        <div>
          <h1>Create the Mission</h1>
          <label for="title">Mission Title</label>
          <input
            th:field="*{title}"
            type="text"
            id="title"
            name="title"
            required
          />
        </div>

        <input type="hidden" th:field="*{id}" />

        <h2>Select Agent:</h2>
        <div id="dropdown">
          <select
            id="agent"
            th:field="*{agent}"
            style="background-color: #007bff; color: white"
          >
            <option
              th:each="a, stat : *{agents}"
              th:value="${a}"
              th:text="${a}"
            ></option>
          </select>
        </div>

        <h2>Enter the gadgets:</h2>
        <div>
          <label for="gadget1">Gadget 1</label>
          <input
            th:field="*{gadget1}"
            type="text"
            id="gadget1"
            name="gadget1"
            required
          />
        </div>

        <div>
          <label for="gadget2">Gadget 2</label>
          <input
            th:field="*{gadget2}"
            type="text"
            id="gadget2"
            name="gadget2"
            required
          />
        </div>

        <div>
          <input type="submit" value="Create Mission" />
        </div>

        <a th:href="@{/}">Back to home</a>
      </form>
    </div>
  </body>
</html>
