<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org">
  <head>
    <meta charset="ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agent Eye App</title>
    <link rel="stylesheet" th:href="@{indexStyle.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="parent">
      <form
        method="post"
        action="#"
        th:action="@{/showMissions}"
        th:object="${mission}"
      >
        <h1>Create a Mission</h1>

        <a th:href="@{/createMission}">
          <input type="button" value="Create Mission" id="create-btn" />
        </a>

        <h2>View Mission For:</h2>

        <div id="dropdown">
          <select id="agent" th:field="*{agent}">
            <option
              th:each="a,stat :*{agents}"
              th:value="${a}"
              th:text="${a}"
            ></option>
          </select>

          <input type="Submit" value="Go" id="go-btn" />
        </div>
      </form>
    </div>
  </body>
</html>
